$main: #373737;
$orange: #fc6a16;

$gray: rgba(255, 255, 255, 0.6);
$lightgray: rgba(37, 52, 79, 0.15);
$light: rgba(104, 116, 148, 0.4);
$blue: #22c5ff;
$hover: #00a3e4;
$focus: #8235FF;
$red: #F23F34;
$white: #fff;
$transition: all 0.3s ease;

$boxshadow: 8px 8px 40px rgba(48,54,64,.2);
