<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>

    <div class="authpage">
      <div class="container">
        <div class="authpage__wrapper">
          <div class="authpage__hero ">
            <div class="authpage__image">
              <img src="img/heroblock.svg" alt="">
            </div><!-- /.authpage__image -->
            <div class="authpage__title">Добро пожаловать!</div><!-- /.authpage__title -->
            <div class="authpage__text">Пройдите авторизацию, для того чтобы продолжить.</div><!-- /.authpage__text -->
          </div><!-- /.authpage__hero -->
          <div class="authpage__form">
            <div class="formblock">
              <div class="formblock__header  ">
                <div class="formblock__link formblock__link_icon">
                  <a href="#">
                    <img src="img/back.svg" alt="">
                    <span>Восстановление пароля</span>
                  </a>
                </div><!-- /.formblock__link -->
              </div><!-- /.formblock__header -->
              <div class="formblock__form">
                <form action="">
                  <div class="formblock__main">
                    <div class="formblock__input">
                      <label for="">Email</label>
                      <input type="text" value="xolxllz@gmail.com">

                    </div><!-- /.formblock__input -->
                   
                  </div><!-- /.formblock__main -->
                  
                  <div class="modal-submit modal-submit_small">
                    <div class="buttonsrow">
                      <div class="buttonsrow__item buttonsrow__item_full">
                        <button type="submit" class="btn btn_main">Авторизироваться</button>
                      </div>
                      <!-- /.buttonsrow__item -->

                    </div>
                    <!-- /.buttonsrow -->
                  </div>
                  
                </form>
              </div><!-- /.formblock__form -->
            </div><!-- /.formblock -->
          </div><!-- /.authpage__form -->
        </div><!-- /.authpage__wrapper -->
      </div><!-- /.container -->
    </div><!-- /.authpage -->

    <%= _.template(require('../includes/footer.html').default)(data) %>