<% var data={ title: "MAIN" , author: "" }; %>
<%= _.template(require('../includes/head.html').default)(data) %>

<div class="authpage">
    <div class="container">
      <div class="authpage__wrapper">
        <div class="authpage__hero ">
          <div class="authpage__image">
            <img src="img/heroblock.svg" alt="">
          </div><!-- /.authpage__image -->
          <div class="authpage__title">Добро пожаловать!</div><!-- /.authpage__title -->
          <div class="authpage__text">Пройдите авторизацию, для того чтобы продолжить.</div><!-- /.authpage__text -->
        </div><!-- /.authpage__hero -->
        <div class="authpage__form authpage__form--full">
          <div class="formblock ">
          
            <div class="formblock__form">
              <form action="">
                 
                  <div class="formblock__content">
                    <div class="formblock__icon">
                      <img src="img/selected_icon.svg" alt="">
                    </div><!-- /.formblock__icon -->
                    <div class="formblock__text">Мы отправили на xolxl****@gmail.com письмо с восстановлением пароля</div><!-- /.formblock__text -->
                  </div><!-- /.formblock__content -->
                  <div class="modal-submit modal-submit_small">
                    <div class="buttonsrow">
                      <div class="buttonsrow__item buttonsrow__item_full">
                        <button type="submit" class="btn btn_main">Ок</button>
                      </div>
                      <!-- /.buttonsrow__item -->
                     
                    </div>
                    <!-- /.buttonsrow -->
                  </div>
                 
              </form>
            </div><!-- /.formblock__form -->
          </div><!-- /.formblock -->
        </div><!-- /.authpage__form -->
      </div><!-- /.authpage__wrapper -->
    </div><!-- /.container -->
</div><!-- /.authpage -->

<%= _.template(require('../includes/footer.html').default)(data) %>
