<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>

    <section id="content">
      <%= _.template(require('../includes/header.html').default)(data) %>

        <main>
          <div class="wrapper">
            <div class="container">
              <div class="welcome">
                <div class="welcome__wrapper flex item-center">
                  <div class="welcome__icon">
                    <!-- <img src="img/welcome__icon.svg" alt=""> -->
                    <span class="welcome_placeholder">АМ</span><!-- /.welcome_placeholder -->
                  </div><!-- /.welcome__icon -->
                  <div class="welcome__content">
                    <div class="welcome__title">Здраствуйте, Андрей</div><!-- /.welcome__title -->
                    <div class="welcome__text">Добро пожаловать в личный кабинет Азбука Логистики.</div>
                    <!-- /.welcome__text -->
                  </div><!-- /.welcome__content -->
                </div><!-- /.welcome__wrapper flex item-center -->
              </div><!-- /.welcome -->
              <div class="maincontent">
                <div class="maincontent__blocks flex">
                  <div class="maincontent__block">
                    <div class="newslist">
                      <div class="newslist__title">Текущие акции</div><!-- /.newslist__title -->
                      <div class="newslist_items">
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Бесплатный забор груза в Екатеринбурге</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Бесплатный забор груза в Екатеринбурге</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Бесплатный забор груза в Екатеринбурге</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Бесплатный забор груза в Екатеринбурге</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Бесплатный забор груза в Екатеринбурге</span>
                          </a>
                        </div><!-- /.newslist__item -->
                      </div><!-- /.newslist_items -->
                      <div class="newslist__nav"><a href="" class='btn_link'>Cмотреть все</a></div>
                    </div><!-- /.newslist -->
                  </div><!-- /.maincontent__block -->
                  <div class="maincontent__block">
                    <div class="newslist">
                      <div class="newslist__title">Последние новости</div><!-- /.newslist__title -->
                      <div class="newslist_items">
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__date">22 марта, 2021</span>
                            <span class="newslist__name">Бесплатный забор груза в Екатеринбурге</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__date">22 марта, 2021</span>
                            <span class="newslist__name">График работы в новогодние праздники 2023-2024 гг.</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__date">22 марта, 2021</span>
                            <span class="newslist__name">График работы в новогодние праздники 2023-2024 гг.</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__date">22 марта, 2021</span>
                            <span class="newslist__name">График работы в новогодние праздники 2023-2024 гг.</span>
                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__date">22 марта, 2021</span>
                            <span class="newslist__name">График работы в новогодние праздники 2023-2024 гг.</span>
                          </a>
                        </div><!-- /.newslist__item -->

                      </div><!-- /.newslist_items -->
                      <div class="newslist__nav"><a href="" class='btn_link'>Cмотреть все</a></div>
                    </div><!-- /.newslist -->
                  </div><!-- /.maincontent__block -->

                  <div class="maincontent__block">
                    <div class="newslist newslist_gray">
                      <div class="newslist__title newslist__title--fire">
                        Последние события
                      </div><!-- /.newslist__title -->
                      <div class="newslist_items">
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Временная приостановка приема и отправки грузов из Хабаровска в
                              Якутию</span>
                            <span class="newslist__date">22 марта, 2021</span>

                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Временная приостановка приема и отправки грузов из Хабаровска в
                              Якутию</span>
                            <span class="newslist__date">22 марта, 2021</span>

                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Временная приостановка приема и отправки грузов из Хабаровска в
                              Якутию</span>
                            <span class="newslist__date">22 марта, 2021</span>

                          </a>
                        </div><!-- /.newslist__item -->
                        <div class="newslist__item">
                          <a href="#" class='newslist__link'>
                            <span class="newslist__name">Временная приостановка приема и отправки грузов из Хабаровска в
                              Якутию</span>
                            <span class="newslist__date">22 марта, 2021</span>

                          </a>
                        </div><!-- /.newslist__item -->


                      </div><!-- /.newslist_items -->
                      <div class="newslist__nav"><a href="" class='btn_link'>Cмотреть все</a></div>
                    </div><!-- /.newslist -->
                  </div><!-- /.maincontent__block -->
                </div><!-- /.maincontent__blocks flex -->
              </div><!-- /.maincontent -->
            </div><!-- /.container -->
          </div><!-- /.wrapper -->

        </main>
    </section><!-- /#content -->
    <%= _.template(require('../includes/footer.html').default)(data) %>