@import "./style.scss";

@media (max-width: 1440px) {
 

}
@media (max-width: 1280px) {
 
}
@media (max-width: 1150px) {
}

@media (max-width: 1023px) {
  .authpage__form .formblock {
    box-shadow: none;
    padding: 34px 0;
    margin: auto;

    min-width: 339px;
  }
  .authpage__wrapper {
    min-height: calc(100vh - 142px);
    display: block;
  }
  .formblock__link a {
    font-weight: 700;
font-size: 20px;
line-height: 100%;
color: #373737;
padding-bottom: 13px;
border-width: 3px;
  }
  .formblock__header {
    margin-bottom: 42px;
  }
  .formblock__input {
    margin-bottom: 31px;
  }
  .formblock__input label {
    margin-bottom: 10px;
    font-size: 12px;
line-height: 100%;
  }
  input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  height: 40px;
  font-size: 14px;

  padding: 0 20px;
}
.check_rememb {
  font-size: 14px;

}
.check label {
  font-weight: 500;
font-size: 14px;
line-height: 100%;
color: #373737;
}
.btn_main {
  font-size: 14px;
height: 50px;line-height: 50px;
}
.modal-submit_small {
  margin-top: 47px;
}
.formblock__socials {
  margin: 50px 0 20px 0;
}
.socials__item a {
  width: 30px;
  height: 30px;
}
.socials__text {
  font-size: 14px;
  margin-right: 20px;
}
.footermain_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footermain__content  {
  flex-wrap: wrap;
}
.footermain__phone  {
  display: block;
}
.footermain__content .footermain__copy  {
  margin-right: 60px;
  width: 100%;
  margin-bottom: 24px;

  .footermain__img {
    min-width: 24px;
    max-width: 24px;
    display: block;
  }
}
.footermain__phone a {
  font-size: 16px;
}
.footermain__text {
  font-size: 12px;
}
.footermain__tel {
  margin-bottom: 4px;
}

.footermain__teltext {
  font-size: 12px;
  margin-left: 0;
}

#footer {
  padding: 18px 0;
}

}
