@import "./style.scss";

@media (max-width: 1440px) {
  .authpage__form {
    padding-left: 30px;
  }
  .authpage__form .formblock {
    padding: 34px;

    min-width: 339px;
    max-width: 607px;
  }
}
@media (max-width: 1280px) {
 
}
@media (max-width: 1150px) {
}

@media (max-width: 1023px) {
  .container {
    padding: 0 18px;
  }
  .messageblock {
    min-width: 339px;
    left: 0;
    right: unset;
    top: 100%;
  }
  .headermain__account {
    position: static;
  }
  .iconlink {
    position: static;
  }
  .accountmenu__menu  {
    min-width: 339px;
    left: 0;
    right: unset;
    position: absolute;
    top: 100%;
  }
  .iconlink__img {
    min-width: 36px;
    max-width: 36px;
    height: 36px;
  }
  .accountmenu__wrapper img {
    width: 22px;
  }
  .iconlink__img img {
    width: 22px;
  }
  .iconlink {
    margin-right: 9px;
  }
  
  .iconlink__count {
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 13px;
  }
  .accountmenu__name {
    margin-left: 8px;
  }
  .accountmenu__wrapper {
    width: 36px;
    height: 36px;
  }
  .headermenu__item a span.headermenu__title {
    font-size: 16px;
  }
  .headermenu__item a {
    padding: 0px 18px;
    margin-bottom: 20px;
    border-left: 5px solid transparent;
    border-bottom: none;
    
  }

  .headermain__wrapper {
    padding: 24px 0 17px 0;
  }
  .headermenu__item.active a {
     border-color: $red;
  }
  .headermain__menu {
    padding: 10px 0;
    position: absolute;
    top: calc(100% - 10px);
    left: -18px;
    right: -18px;
    width: calc(100% + 36px);
    background: #fff;
    border-radius: 0 0 12px 12px;

z-index: 9999;
  }
  .headermenu__item a svg {}
  .headermenu__item a span {
    font-size: 16px;
line-height: 100%;
  }

  main {
    min-height: 500px;
  }
  .headermenu__items   {
    flex-wrap: wrap;
  }
  .headermenu__item {
    margin-right: 0;
    width: 100%;
  }
  .formblock__icon {
    margin-bottom: 18px;
    text-align: center;
  }

  .formblock__text {
    font-size: 20px;
  }

  .formblock__content {
    margin-bottom: 30px;

  }

  .authpage__form--full {
    min-height: calc(100vh - 142px);
    display: flex;
    align-items: center;
  }
  .authpage__form {
    padding-left: 0;
  }
  .authpage__form .formblock {
    box-shadow: none;
    padding: 34px 0;
    margin: auto;

    min-width: 339px;
    max-width: 607px;
  }
  .authpage__wrapper {
    min-height: calc(100vh - 142px);
    display: block;
  }
  .formblock__link a {
    font-weight: 700;
font-size: 20px;
line-height: 100%;
color: #373737;
padding-bottom: 13px;
border-width: 3px;
  }
  .formblock__header {
    margin-bottom: 42px;
  }
  .formblock__input {
    margin-bottom: 31px;
  }
  .formblock__input label {
    margin-bottom: 10px;
    font-size: 12px;
line-height: 100%;
  }
  input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  height: 40px;
  font-size: 14px;

  padding: 0 20px;
}
.check_rememb {
  font-size: 14px;

}
.check label {
  font-weight: 500;
font-size: 14px;
line-height: 100%;
color: #373737;
}
.btn_main {
  font-size: 14px;
height: 50px;line-height: 50px;
}
.modal-submit_small {
  margin-top: 31px;
}
.formblock__socials {
  margin: 50px 0 20px 0;
}
.socials__item a {
  width: 30px;
  height: 30px;
}
.socials__text {
  font-size: 14px;
  margin-right: 20px;
}
.footermain_contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footermain__content  {
  flex-wrap: wrap;
}
.footermain__phone  {
  display: block;
}
.footermain__content .footermain__copy  {
  margin-right: 60px;
  width: 100%;
  margin-bottom: 24px;

  .footermain__img {
    min-width: 24px;
    max-width: 24px;
    display: block;
  }
}
.footermain__phone a {
  font-size: 16px;
}
.footermain__text {
  font-size: 12px;
}
.footermain__tel {
  margin-bottom: 4px;
}

.footermain__teltext {
  font-size: 12px;
  margin-left: 0;
}

#footer {
  padding: 18px 0;
}
[data-menutoggle] {
  display: block;
  margin-left: 21px;
}

[data-menutoggle] span {
  width: 26px;
  height: 2px;
  margin-bottom: 6px;
  display: block;
  background: #373737;
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  &:last-child {
    margin-bottom: 0;
  }
}

[data-menutoggle] span:first-child {
  transform-origin: 0% 0%;
}

[data-menutoggle] span:last-child {
  transform-origin: 0% 100%;
}

[data-menutoggle].active span:first-child {
  opacity: 1;
  transform: translate(0, 18px) rotate(-45deg);
}

[data-menutoggle].active span:last-child {
  transform: translate(0, -17px) rotate(45deg);
}

[data-menutoggle].active span:nth-child(2) {
  opacity: 0;
}
[data-menu] {
  display: none;
}
[data-menu].active {
  display: block;
}
}
