@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Bold.woff2') format('woff2'),
      url('../fonts/Jost-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Black.woff2') format('woff2'),
      url('../fonts/Jost-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Jost-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ExtraLight.woff2') format('woff2'),
      url('../fonts/Jost-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ExtraBold.woff2') format('woff2'),
      url('../fonts/Jost-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-BlackItalic.woff2') format('woff2'),
      url('../fonts/Jost-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-BoldItalic.woff2') format('woff2'),
      url('../fonts/Jost-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Light.woff2') format('woff2'),
      url('../fonts/Jost-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Medium.woff2') format('woff2'),
      url('../fonts/Jost-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Thin.woff2') format('woff2'),
      url('../fonts/Jost-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-SemiBold.woff2') format('woff2'),
      url('../fonts/Jost-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-MediumItalic.woff2') format('woff2'),
      url('../fonts/Jost-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Regular.woff2') format('woff2'),
      url('../fonts/Jost-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-LightItalic.woff2') format('woff2'),
      url('../fonts/Jost-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Jost-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Jost-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-ThinItalic.woff2') format('woff2'),
      url('../fonts/Jost-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Italic.woff2') format('woff2'),
      url('../fonts/Jost-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@import "./partials/params.scss";
@import "./partials/mixins.scss";
@import "./partials/animations.scss";
@import "./modal.scss";


:root {
  --font-family: "Jost";
}


body {
  min-width: 375px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
  width: 100%;
  background: #fff;
}
* {
 /*  font-family: "Montserrat";
  font-style: normal; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  line-height: 1.5;
}
/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #08105b;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

@media (min-width: 1024px) {
  .onlyMobile {
    display: none !important;
  }
}
@include medium-screen {
  .onlyMobile {
    display: initial;
  }
  .onlyDesktop {
    display: none !important;
  }
}
.container {
  @include container;
}

button {
	cursor: pointer;
}

a {
  text-decoration: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.items-center{
  align-items: center;
}

.content-center{
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.color-white, .text-white {
  color: #fff;
}

.wrap {
  flex-wrap: wrap;
}

.w-half {
  width: 50%;
}

.w-20 {
  width: 20%;
}
.mt-100 {
  margin-top: 100px;
}

.mb-100 {
margin-bottom: 100px;
}
.nowrap {
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center !important;
}
.w-full {
  width: 100%;
  max-width: 100%;
}
@media (max-width: 1023px) {
  .mobile-full {
    width: 100% !important;
  }
}

.formblock__input label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #373737;
  display: block;
  margin-bottom:12px;
  opacity: 0.5;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  display: block;
  width: 100%;
  align-items: center;
  background-color: #f3f3f7;
  border-radius: 8px;
  display: flex;
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border: none;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid #f3f3f7;
  /* identical to box height */

  color: #282828;

  &.input-error {
    border-color: #f23f34;
  }

  &:focus {
    border-color: $focus;
  }
}

textarea {
  display: block;
  width: 100%;
  align-items: center;
  background-color: #f3f3f7;
  border-radius: 8px;
  display: flex;
  padding: 16px 20px;
  width: 100%;
  border: none;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid #f3f3f7;
  /* identical to box height */

  color: #282828;

  &.input-error {
    border: 2px solid #f23f34;
  }

  &:focus {
    border: 2px solid #04a3e9;
  }
}

.input-errortext {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #f23f34;}


  
.inputpassword {
  position: relative; }

.inputpassword img {
  position: absolute;
  right: 12px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%); }

.passwordforgot {
  margin-bottom: 33px; }

.buttonsrow {
  flex-wrap: wrap; }

.buttonsrow__item_full {
  margin-bottom: 8px; }
  .buttonsrow__item_full a {
    height: 60px;
    line-height: 60px; }
  .buttonsrow__item_full a.btn_border {
    height: 60px;
    line-height: 60px; }

.passwordforgot a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #04A3E9; }



.passwordforgot .check label {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #282828; }

.textlogin {
  margin-top: 35px; }

.textlogin__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #282828; }

.textlogin__link a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
 }

.textinput {
  color: rgba(59, 67, 90, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-top: 15px; }

  .formblock__input {
    margin-bottom: 40px;
  }

  .formblock__check {
    margin: 21px 0;
  }

.formblock__input_center {
  text-align: center; }

.formblock__main_small {
  margin-bottom: 17px; }

.modal-submit_small {
  margin-top: 17px; }

.formblock__input:last-child {
  margin-bottom: 0; }

  .authpage__form {
    .formblock {
      min-width: 607px;
      max-width: 100%;
      box-shadow: 10px 10px 60px 0 rgba(55, 55, 55, 0.1);
      border-radius: 12px;

      padding: 60px 60px 50px 60px;
      background: #fff;
    }
  }

  .authpage__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 90px);
  }

  .authpage__image {
    margin-bottom: 32px;
  }


  .authpage__title {
    font-family: var(--font-family);
font-weight: 700;
font-size: 58px;
line-height: 100%;
color: #373737;
margin-bottom: 35px;
  }

  .authpage__text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 100%;
color: rgba(55, 55, 55, 0.6);
  }


  
.check label {
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 110%;
  color: #282828;
  padding-left: 28px;
  position: relative; }

  .formblock__input:last-child {
    margin-bottom: 0;
  }

.check_rememb {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2079ff;
display: block;
}

.check input[type='checkbox'] {
  display: none; }

.check label a {
  color: #282828;
  text-decoration: underline; }

.check label a:hover {
  text-decoration: none; }

.check label:before {
  background-color: $red;
  border-radius: 4px;
  content: "";
  height: 18px;
  left: 0;
  position: absolute;
  width: 18px;
  top: 50%;
  transform: translateY(-50%); }

.check input[type='checkbox']:checked + label:before {
  background-image: url(../img/checkbox_checked.svg);
  background-repeat: no-repeat;
  background-position: center; }


  .btn_main {
    transition: $transition;
    display: inline-block;
    background: #f23f34;
    border-radius: 8px;
    line-height: 60px;
    padding: 0 20px;
    height: 60px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-align: center;
border: none;
color: #fff;

&:hover {
  background: #ff4d42;
}

&:disabled {
  opacity: 0.5;
}
  }
  
  .buttonsrow {
    .buttonsrow__item_full {
      .btn_main {
        width: 100%;
      }
    }
  }

  .socials__text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 100%;
color: #373737;
margin-right: 26px;
  }

  .socials__item {
    margin-right: 22px;
    a {
      display: block;
    }
  }

  .formblock__socials {
    margin: 34px 0 14px 0;
  }
.formblock__header {
  margin-bottom: 60px;
}
  .formblock__link {
    margin-right: 40px;
    a {
      display: block;
      font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 100%;
color: #373737;
opacity: 0.4;
padding-bottom: 20px;
border-bottom: 4px solid transparent;

&.active, &:hover {
  opacity: 1;
  border-color: $red;
}
    }
  }

  .footermain__text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 120%;
color: #373737;
opacity: 0.7;
margin-left: 11px;
  }


  .footermain__content {
    .footermain__copy {
      margin-right: 108px;
    }
  }

  .footer__dev {
    a {
      display: block;
      span {
        display: block;
        margin-bottom: 2px;
        font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #2e333e;
  opacity: 0.5;   
  }
    }
  }

  .footermain__phone {
    margin-right: 19px;
    a {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #373737;
    }
  }

  .footermain__teltext {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 100%;
color: #373737;
  }

  .footermain__teltext {
    margin-left: 19px;
   
  }

  #footer {
    background: #f8f8f8;
    padding: 22px 0;
  }